{% extends "base/base_nav_footer.html" %}
{% block content %}	
	<div class="col-xs-8 col-md-12">		
		<table class="table">		
			<thead class="thead-inverse">
				<tr>
					<th>Nombre</th>
					<th>Costo</th>
					<th>Unidad</th>
					<th>Cantidad por Unidad</th>
					<th>Cantidad</th>
					<th>Stock</th>
					<th>Requeridos</th>
					<th>Costo de Requeridos</th>				
				</tr>
			</thead>
			<tbody>				
				{% for required in required_supplies %}
					{% if required.stock <= 1 %}
						<tr class = "Danger">
					{% else %}
						<tr class = "Success">
					{% endif %}
						<td>{{ required.name }}</td>
						<td>{{ required.cost }}</td>	
						<td>{{ required.measurement }}</td>												
						<td>{{ required.measurement_quantity }}</td>	
						<td>{{ required.quantity }}</td>	
						<td>{{ required.stock }}</td>						
						<td>{{ required.required }}</td>
						<td>{{ required.full_cost }}</td>						
					<tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="col-xs5">		
			<b><p align="right">Costo Total de Insumos Estimados {{total_cost}}</p>	</b>
		</div>		
	</div>
	
	


{% endblock content %}
{% block javascript %}
{% endblock javascript %}