{% extends "base/base_nav_footer.html" %}
{% load static %}
{% block link %}
  <style type="text/css" media="screen">
  #div1, #div2 {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;    
    border: 1px solid black;
  }
  </style>
{% endblock link %}
{% block content %}
  <!-- Container -->
  <div class="container-fluid container-sales">
    <div class="row">
      <div class="group-sales col-xs-12 col-lg-9">
        <div class="row">
          <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="card card-block card-product-title card-outline-info">
              <h3>Proveedor</h3>
            </div>
            <div class="card col-xs-12 card-scroll card-outline-info" id="group-complements" ondrop="drop(event)" ondragover="allowDrop(event)">
              <div class="card-block products-block">
                {% for warehouse in supplies %}
                  {% if warehouse.status == "PR" %}
                    <div class="card-block product-container" id="warehouse.supply-{{ warehouse.supply.pk }}" draggable="true" ondragstart="drag(event)">
                      <h6 class="product-name">{{ warehouse.supply.name }}</h6>
                      <img src="{{ warehouse.supply.image.url }}" id="warehouse.supply-img-{{ warehouse.supply.pk }}" class="product-img" alt="Nombre de la bebida" >                      
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="card card-block card-product-title card-outline-info">
              <h3>En Almacen</h3>
            </div>
            <div class="card col-xs-12 card-scroll card-outline-info" id="group-dishes" ondrop="drop(event)" ondragover="allowDrop(event)">
              <div class="card-block products-block"> 
                {% for warehouse in supplies %}                      
                  {% if warehouse.status == "ST" %}                  
                    <div class="card-block product-container" id="warehouse.supply-{{ warehouse.supply.pk }}" draggable="true" ondragstart="drag(event)">
                      <h6 class="product-name">{{ warehouse.supply.name }}</h6>
                      <img src="{{ warehouse.supply.image.url }}" id="warehouse.supply-img-{{ warehouse.supply.pk }}" class="product-img" alt="Nombre de la bebida" draggable="false">  
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>          
          <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="card card-block card-product-title card-outline-info">
              <h3>Ready for Assembly</h3>
            </div>
            <div class="card col-xs-12 card-scroll card-outline-info" id="group-dishes" ondrop="drop(event)" ondragover="allowDrop(event)">
              <div class="card-block products-block">
                {% for warehouse in supplies %}                      
                  {% if warehouse.status == "AS" %}                  
                    <div class="card-block product-container" id="warehouse.supply-{{ warehouse.supply.pk }}" draggable="true" ondragstart="drag(event)">
                      <h6 class="product-name">{{ warehouse.supply.name }}</h6>
                      <img src="{{ warehouse.supply.image.url }}" id="warehouse.supply-img-{{ warehouse.supply.pk }}" class="product-img" alt="Nombre de la bebida" draggable="false">                      
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>          
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascript %}
  <script type="text/javascript" charset="utf-8">
  
  function allowDrop(ev) {
  ev.preventDefault();
  }
  function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
  }
  function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
  }
  
  </script>
  
{% endblock javascript %}