{% extends "base/base_nav_footer.html" %}

{% block content %} 
<div class="container-fluid">
  <div class="row mt-3 mb-2">
    <div class="col-xs-12 col-md-6">
      <h2 class="text-xs-center">Producto popular de hoy:
        <span class="badge badge-info">{{ today_popular_cartridge.name }}
        </span>
      </h2>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2 class="text-xs-center">Producto más popular:
        <span class="div badge badge-success">
          {{ always_popular_cartridge.name }}: {{ always_popular_cartridge.frequency }}
        </span>
      </h2>
    </div>
  </div>
  <div class="row mt-1">
  <div class="col-xs-12 col-xl-10 push-xl-1">
      <p class="text-align {% spaceless %}
      {% endspaceless %}">Costo total de insumos estimados: {{ estimated_total_cost }}</p> 
      <table class="table table-kitchen table-striped table-hover" align="right">     
        <thead class="thead-inverse">
          <tr>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Unidad</th>
            <th>Cantidad por Unidad</th>
            <th>Cantidad</th>
            <th>Stock</th>
            <th>Requeridos</th>
            <th>Costo de Requeridos</th>                
          </tr>
        </thead>
        <tbody>             
          {% for required in required_supplies %}
          {% if required.measurement_quantity == 1  %}
            {% if required.stock <= 50 %}
              <tr class="table-danger">     
            {% elif required.stock <= 25 %}
              <tr class="table-warning">     
            {% elif required.stock <= 10 %}
              <tr class="table-success">    
            {% endif %}
          {% else %}
            {% if required.stock <= 500 %}
              <tr class="table-danger">     
            {% elif required.stock <= 1000 %}
              <tr class="table-warning">     
            {% elif required.stock <= 2000 %}
              <tr class="table-success">     
            {% endif %}
          {% endif %}                    
            <td>{{ required.name }}</td>
            <td>{{ required.cost }}</td>    
            <td>{{ required.measurement }}</td>                                             
            <td>{{ required.measurement_quantity }}</td>    
            <td>{{ required.quantity }}</td>    
            <td>{{ required.stock }}</td>                       
            <td>{{ required.required }}</td>
            <td>{{ required.full_cost }}</td>                       
            <tr>                                            
          {% endfor %}                                    
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock content %}
    {% block javascript %}
    {% endblock javascript %}
