{% extends 'base/base_nav_footer.html' %}

{% load static %}

{% block link %}    
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"/>
<link rel="stylesheet" href="{% static "css/styles27052017.css" %}">
{% endblock link %}

{% block content %}
<div class="container-fluid">
  <select class="custom-select" id=""></select>
</div>
<div class="container-fluid">
  <div id="doughnut-chart" class="chart-container" style="width:50% !important">
      <canvas id="nutChar"></canvas>
  </div>
</div>
<div class="container-fluid">
  <div>      
    <table id="analytics-table" class="table table-kitchen table-straped table-hover" align="right">
      <thead class="thead-inverse">
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
      </thead>  
      <tbody>
        {% for cartridge in today_sold_product %}
        <tr>
          <td>
            <span>
              {{ cartridge.name }}
            </span>
          </td>
          <td>
            <span class="badge badge-success">
              {{ cartridge.frequency }}
            </span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

<script type="text/javascript">
  $(function() {   
    /** 
    * Gets the csrf cookie from cache
    */ 
    function get_cookie(name) {
      let cookie_value = null;
      if (document.cookie && document.cookie !== '') {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          let cookie = jQuery.trim(cookies[i]);
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookie_value = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookie_value;
    }
  });

  var ctx = document.getElementById("nutChar").getContext('2d');
  var sold_drinks = [];

  // for(let i=0;i < {{ cartridge.frequency }}; i++){
    
  // }
  var nutChar = new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        data: [13, 19, 3, 20, 2, 3],
        backgroundColor: [
        'Red',
        'Blue',
        'Yellow',
        'Green',
        'Purple',
        'Orange'
        ],
        borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      cutoutPercentage: 40, 
      animation: {
        animateScale: true,
      }
    }
  });
</script>
{% endblock javascript %}