{% extends 'base/base_nav_footer.html' %}

{% load static %}

{% block link %}

{% endblock link %}

{% block content %}

<div class="row">
    <div class="offset-md-4 col-md-3">
        <select class="custom-select" id="cat-sold">
            <option value="select">Seleccionar categoría</option>
            <option value="drinks_sold" id="drinksValue">Bebidas</option>
            <option value="food_sold" id="food_value">Platillos</option>
        </select>
    </div>
</div>
<div class="col-md-6">
    <div class="row">
        <div class="offset-md-2 col-md-3">
            <input type='date' class='initial_date' data-language='en' placeholder="Fecha inicial">
        </div>
        <div class="offset-md-2 col-md-3">
            <input type='date' class='final_date' data-language='en' placeholder="Fecha Final">
        </div>
        <div>
            <button class='get_dates'>
                Obtener Fechas
            </button>
        </div>
    </div>
    <div class="canvas-holder">
        <canvas id="canvas-cartridges-sales"></canvas>
    </div>

</div>
<div class="col-md-6">
    <div class="canvas-holder">
        <canvas id="canvas-cartridges-day"></canvas>
    </div>
</div>


{% endblock content %}

{% block javascript %}
<script src="{% static 'js/Chart.bundle.min.js' %}" defer></script>
<script src="{% static 'js/papaparse.min.js' %}" defer></script>
<script src="{% static 'js/blob.js' %}" defer></script>
<script src="{% static 'js/fileSaver.min.js' %}" defer></script>
<script type="text/javascript" charset="utf-8" defer>

    $(function() {

        let category_sold = JSON.parse('{{ sales | safe }}');

        function get_labels() {
            let sale_list = [];
            let count = 0;
            while (count < category_sold.length) {
                sale_list.push((category_sold[count].name));
                count++;
            }
            return sale_list;
        }

        function get_quantity() {
            let sale_list = [];
            let count = 0;
            while (count < category_sold.length) {
                sale_list.push((category_sold[count].quantity));
                count++;
            }
            return sale_list;
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function get_colors() {
            let sale_list = [];
            let count = 0;
            while (count < category_sold.length) {
                sale_list.push(getRandomColor());
                count++;
            }
            return sale_list;
        }

        var colors = get_colors();

        $(".get_dates").on("click",function(e){
            var initial_date = $(".initial_date").val();
            var final_date = $(".final_date").val();
            console.log(initial_date);
            console.log(final_date);
        });

        var ctx = document.getElementById("canvas-cartridges-sales").getContext('2d');
        chart_pie = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: get_labels(),
                datasets: [{
                    label: '# of Votes',
                    data: get_quantity(),
                    backgroundColor: colors,
                    borderColor: colors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                legend: {
                    display: true,
                    position: 'bottom'
                }
            }
        });

        var ctx = document.getElementById("canvas-cartridges-day").getContext('2d');
        chart_points = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

    });


</script>
{% endblock javascript %}