{% extends 'base/base_nav_footer.html' %}

{% load static %}

{% block link %}    
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"/>
<link rel="stylesheet" href="{% static "css/styles27052017.css" %}">
{% endblock link %}

{% block content %}
<div>
  <select class="custom-select" id=""></select>
</div>
<div class="row sales-graphics">
  <div class="col-xs-12 col-lg-6">
    <div class="canvas-holder">
      <canvas id="analytics-chart" width="400" height="400"></canvas>
    </div>
  </div>
</div>
<div>
  <table id="analytics-table" class="table table-kitchen table-straped table-hover" align="right">
    <thead class="thead-inverse">
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
      </tr>
    </thead>  
    <tbody>
      {% for cartridge in today_sold_product %}
      <tr>
        <td>
          <span>
            {{ cartridge.name }}
          </span>
        </td>
        <td>
          <span class="badge badge-success">
            {{ cartridge.frequency }}
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock content %}

{% block javascript %}
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js">
</script>

<script type="text/javascript">
  $(function() {   
    /** 
    * Gets the csrf cookie from cache
    */ 
    function get_cookie(name) {
      let cookie_value = null;
      if (document.cookie && document.cookie !== '') {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          let cookie = jQuery.trim(cookies[i]);
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookie_value = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookie_value;
    }

    $('#initial-date').datepicker({
      onSelect: function(selectedDate) {
        let dataString = 'date='+selectedDate;
      }
    });

    $('#final-date').datepicker({
      onSelect: function(selectedDate) {
        let dataString = 'date='+selectedDate;
      }
    });

    $(this).on('click', '#create-predictions', function(event) {
      let initial_date = $('#initial-date').val();
      let final_date = $('#final-date').val();

      aux_initial = initial_date.split('/')
      initial_date = aux_initial[1] + '-' + aux_initial[0] + '-' + aux_initial[2];

      aux_final = final_date.split('/')
      final_date = aux_final[1] + '-' + aux_final[0] + '-' + aux_final[2];

      let csrf_token = get_cookie('csrftoken');
      $.ajax({
        url: '{% url "products:analytics" %}',
        type: 'POST',
        data: {
          'initial_date': initial_date,
          'final_date': final_date,
          csrfmiddlewaretoken: csrf_token,
        },
        traditional: true,
        datatype: 'jsonp',
        success: function(result) {
          swal({
            title: "Éxito",
            text: "Datos obtenidos",
            type: "success",
            showConfirmButton: true,
          });


        },
        error: function(result, jqXHR, textStatus, errorThrown) {
          swal({
            title: "Datos no obtenidos!",
            text: 'Contacte a soporte!\n ' + 'Errores: ' + textStatus + ', ' + jqXHR,
            type: "error",
            showConfirmButton: false,

          });
        },
      });
    });
  });

  $(function(){

    let ctx = $("#analytics-chart");
    let ctx_products = []; 
    let ctx_products_chart = document.getElementById("analytics-chart");
    
  });


</script>
{% endblock javascript %}