{% extends 'base/base_nav_footer.html' %}

{% load static %}

{% block link %}    
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"/>
<link rel="stylesheet" href="{% static "css/styles27052017.css" %}">
{% endblock link %}

{% block content %}
<div class="container-fluid">
  <div class="form-inline" id="categories-selector-form">
    <select class="custom-select" id="cat-sold">
      <option value="select">Seleccionar categoría</option>
      <option value="drinks_sold" id="drinks_value">Bebidas</option>
      <option value="food_sold" id="food_value">Platillos</option>
    </select>
  </div>
</div>
<div class="row container-fluid">
<div class="col-xs-12 col-md-4">
    <div class="chart-container" style="width:300px !important">
      <canvas id="nutChar"></canvas>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="chart-container">
      <canvas id="quantity-bar"></canvas>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="mt-2">      
    <table id="analytics-table" class="table table-kitchen table-straped table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
      </thead>  
      <tbody>
        {% for cartridge in today_sold_product %}
        <tr>
          <td>
            <span>
              {{ cartridge.name }}
            </span>
          </td>
          <td>
            <span class="badge badge-success">
              {{ cartridge.frequency }}
            </span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

<script type="text/javascript">
  $(function() {   
    let ctx = document.getElementById("nutChar").getContext('2d');
    let bar_ctx = document.getElementById("quantity-bar").getContext('2d');
    let today_sold_product = JSON.parse('{{ today_sold_product_json | safe }}');
    let category_sold = JSON.parse('{{ category_sold | safe }}');
    let all_categories = JSON.parse('{{ all_categories | safe }}');
    let nutChar, quantity_bar;
    let color_list = [
      '#EF5350',
      '#E91E63',
      '#BA68C8',
      '#7E57C2',
      '#9FA8DA',
      '#E040FB',
      '#5E35B1',
      '#00E676',
      '#FBC02D',
      '#FFC107',
      '#A1887F',
      '#DD2C00',
      '#B0BEC5',
      '#EEFF41',
      '#827717',
    ];
    /** 
    * Gets the csrf cookie from cache
    */ 
    function get_cookie(name) {
      let cookie_value = null;
      if (document.cookie && document.cookie !== '') {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          let cookie = jQuery.trim(cookies[i]);
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookie_value = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookie_value;
    }

    function get_random_list(size){
      aux_list = [];
      for (let i = 0; i < size; i++) {
        aux_list[i] = parseInt(Math.random() * 10);
      }
      return aux_list;
    }

    function fill_drinks_nut_char(){
      let drinks_aux = category_sold['drinks_sold'];
      let foods_aux = category_sold['food_sold'];
      let drinks_value = $('#drinks_value').val();
      let products_list = [];

      for(let i = 0; i < drinks_aux.length; i++){
        drinks_quant = drinks_aux[i]['quantity'];
        products_list[i] = drinks_quant;
      }
      return products_list;  
    }
    
    function fill_food_nut_char(){
      let drinks_aux = category_sold['drinks_sold'];
      let food_aux = category_sold['food_sold'];
      let drinks_value = $('#drinks_value').val();
      let products_list = [];

      for(let i = 0; i < food_aux.length; i++){
        food_quant = food_aux[i]['quantity'];
        products_list[i] = food_quant;
      }
      return products_list;  
    }
    
    function get_type_product(kind_of_food){
      kind_of_food = kind_of_food.substring(0,3);
      return kind_of_food;
    }
    
    nutChar = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Cafe', 'Capuccino'],
        datasets: [{
          data: [0,],
          backgroundColor: color_list,
          borderWidth: 0
        }]
      },
      options: {
        responsive: true,
        cutoutPercentage: 40, 
        animation: {
          animateScale: true,
        }
      }
    });

    quantity_bar = new Chart(bar_ctx, {
      type: 'bar',
      data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });

    $(this).on('change', '.custom-select', function(event) {
      let drinks = $('#drinks').val();
      let food = $('#foods').val();
      let kind_of_food = $(this)[0].value;
      let short_element = get_type_product(kind_of_food);

      $.ajax({
        url: "{% url 'products:analytics' %}",
        type: 'POST',
        data: {
          csrfmiddlewaretoken: get_cookie('csrftoken'),
          'type': 'category',
        },
        beforeSend: function(){
          swal({
            title: "Obteniendo registros",
            text: "Espere mientras obtenemos toda la información",
          });
          swal.enableLoading();
        },
        traditional: true,
        datatype: 'jsonp',
        success: function(result, status, XHR) {
          let drinks = result['drinks_sold'];
          let food = result['food_sold'];

          if (short_element == 'dri'){
            drinks_data = fill_drinks_nut_char();
              nutChar.data.datasets[0].data = drinks_data;
              nutChar.update();
          }
          else if(short_element == 'foo'){
            food_data = fill_food_nut_char();
              nutChar.data.datasets[0].data = food_data;
              nutChar.update();
          } 
          swal({
            title: 'Hecho',
            text: 'Categoría seleccionada',
            type: 'success',
            timer: 750,
            showConfirmButton: false,
          }).then(
          function(){},
          function(dismiss){});
        },
        error: function(result) {
          swal({
            title: "Error",
            text: 'No se pudo generar la gráfica',
            type: "error",
            timer: 750,
            showConfirmButton: false,
          });
        },
      });
    });
  fill_drinks_nut_char();
  fill_food_nut_char();
  });
</script>
{% endblock javascript %}