{% extends 'base/base_nav_footer.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <h2>Comentarios</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Reaccion</th>
        <th>Comentario</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>
      {% for suggestion in suggestions %}
          <tr>
            <td>
              {% if suggestion.satisfaction_rating == 1 %}
                <img src="{% static 'images/Very_Angry_Emoji.png' %}" alt="Product image" height="80" >
              {% elif suggestion.satisfaction_rating == 2 %}
                <img src="{% static 'images/Very_sad_emoji_icon_png.png' %}" alt="Product image" height="80" >
              {% elif suggestion.satisfaction_rating == 3 %}
                <img src="{% static 'images/Smiling_Emoji_with_Smiling_Eyes.png' %}" alt="Product image" height="80" >
              {% elif suggestion.satisfaction_rating == 4 %}
                <img src="{% static 'images/Heart_Eyes_Emoji.png' %}" alt="Product image" height="80" >
              {% endif %}
            </td>
            <td>{{ suggestion.suggestion }}</td>
            <td>{{ suggestion.creation_date }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} 

{% block javascript %}


<script type="text/javascript" charset="utf-8" async>
  $(function() {
    
  });
</script>
{% endblock javascript %}