{% extends 'base/base_nav_simple_footer.html' %}
{% load static %}

{% block content %}

<div class="container container-rating">
  <h2 class="text-xs-center rating-title">¿Cómo te sentiste hoy?</h2>
  <div class="row emojis-container mt-2">
    <div class="col-xs-6 col-md-4 col-lg-3">
      <figure class="emoji-container emoji-lv-1">
        <img class="emoji" src="{% static 'images/Very_Angry_Emoji.png' %}" alt="Very_Angry_Emoji">
      </figure>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <figure class="emoji-container emoji-lv-2">
        <img class="emoji" src="{% static 'images/Very_sad_emoji_icon_png.png' %}" alt="Very_sad_emoji_icon_png">      
      </figure>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <figure class="emoji-container emoji-lv-3">
        <img class="emoji" src="{% static 'images/Slightly_Smiling_Face_Emoji.png' %}" alt="Slightly_Smiling_Face_Emoji">
      </figure>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3 ">
      <figure class="emoji-container emoji-lv-4">
        <img class="emoji" src="{% static 'images/Smiling_Emoji_with_Smiling_Eyes.png' %}" alt="Smiling_Emoji_with_Smiling_Eyes">
      </figure>
    </div>
  </div>
  <div class="container-rating-footer mt-3 ">
    <h3 class="text-xs-center container-footer-title"></h3>
    <div class="container">
      <div class="row">
      {% for element in elements %}
        <div class="col-xs-6 col-lg-4 mt-1">
          <button class="btn btn-outline-primary btn-lg btn-block" id="element-id-{{ element.id }}">
            <span>{{ element }}</span>
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %} 

{% block javascript %}

<script src="{% static 'js/Chart.bundle.min.js' %}" defer></script>
<script src="{% static 'js/papaparse.min.js' %}" defer></script>
<script src="{% static 'js/blob.js' %}" defer></script>
<script src="{% static 'js/fileSaver.min.js' %}" defer></script>

<script type="text/javascript" charset="utf-8" async>
$(function() {
  let active_buttons = [];

  $(this).on('click', '.emoji-container', function(event) {
    let emoji_level = $(this).attr('class');
    emoji_level = emoji_level.split(' ');

    for (let i = 0; i < emoji_level.length; i++) {
      if (emoji_level[i].search('emoji-lv') >= 0) {
        emoji_level = emoji_level[i].split('-')[2];
      };
    };

    $('.container-rating-footer').show(500);
    if (emoji_level >= 1 && emoji_level <= 2 ) {
      $('.container-footer-title').text('¿Qué salió mal?')
    } else {
      $('.container-footer-title').text('¿Qué salió bien?');
    }
  });

});
</script>
{% endblock javascript %}