
/*
    Table and contents
 */
.btn_pre_list, .btn_manual_list {
    height:100px;
    width:50px;
    background-color: #004c83;
    color: white;
    border: none;
    font-size: 25px;    
    border-radius: 50px;
}

.card_list{
    min-height: calc(90vh - 16rem);
    max-height: calc(90vh - 16rem);
    overflow-y: scroll;
    direction: rtl;
}

.ele_image{
    border-radius: 50%;
}

.card_element {
    transition: 0.3s;
    width: 40%;
    text-align: center;
    padding: 16px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
}

.product-name{
    top: 100px;
}

.add_btn ,.pres_btn{
    transition: 0.3s;
    opacity: 0;
}

.card_element:hover .add_btn{
    opacity:1;
}

.card_element:hover .pres_btn{
    opacity:1;
}








