#analytics-prro { 
  border-collapse: collapse;
  width: 100%;
}

#analytics-prro tr:nth-child(even){
 background-color:  rgba(120, 204, 200,0.5);
}


#analytics-prro tr:hover{
 background-color:  rgba(75, 127, 125, 0.8);
}

.card{
	display: flex;

}