{% extends "base/base_nav_footer.html" %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static "css/hover_img.css" %}">
{% endblock link %}
{% block content %}
<div class="container container-main col-lg-10 push-lg-1">
  <div class="row">
    {% for sp in supplies %}
    <div class="card col-lg-4 col-xl-2">
        <figure>
            <div class="img__wrap">
                <img class="img__holder" src="{{ sp.image.url }}" alt="Card image cap">
                <div class="img__description_layer">
                    <p class="img__description">This image looks super neat.</p>
                </div>
            </div>
        </figure>
        <div class="card-block">
        <h4 class="card-title">{{ sp.name }}</h4>
        <h6 class="card-subtitle text-muted">{{ sp.category }}</h6>
        <div class="card-bloc text-xs-right">
          <a href="{% url 'products:supply_detail' sp.pk %}"> <i class='material-icons text-muted' style="font-size:50px;">details</i></a>
          <a href="{% url 'products:supply_modify' sp.pk %}"> <i class='material-icons text-muted' style="font-size:50px;">create</i></a>
          <a href="{% url 'products:supply_delete' sp.pk %}"> <i class='material-icons text-muted' style="font-size:50px;">delete</i></a>
        </div>
      </div>
    </div>    
    {% endfor %}    
  </div>
</div>

<div class="popout">
  <div class="FAB" id="fab-add-supply">
    <i class="material-icons">add</i>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
  $(function() {
    $('#fab-add-supply').click(function(event) {
      location.href = '/supplies/add/';
    });
  });
</script>
{% endblock javascript %}